* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.header {
  background-color: #69E0E9;
  padding: 30px;
  font-size: 16px;
  display: flex;
  
  .logo, .moomark-gnb{
    flex: none;
  }
  .moomark-gnb{
    margin-left: auto;
  }
}

/* Create three unequal columns that sits next to each other */
.container {
  display: flex;
  // flex-direction: row;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  .side{
    // -webkit-flex: 1;
    // -ms-flex: 1;
    flex: 1;
  }
  .middle{
    // -webkit-flex: 2;
    // -ms-flex: 2;
    flex: 4;
  }
}


/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}


.flex-container {
  display: flex;
}

.flex-item {
  flex: none;
}

.flex-item-gnb {
  margin-left: auto;
}